# Exclude everything by default
/*

# Except for tracked top-level project directories
!/.devcontainer/
!/.github/
!/.github-assets/
!/docs/
!/targets/
!/scripts/
/scripts/__pycache__/
!/.clang-format
!/.git-blame-ignore-revs
!/.gitattributes
!/.gitignore
!/.gitmodules
!/CONTRIBUTING.md
!/flake.nix
!/CMakeLists.txt
!/CMakePresets.json
!/vcpkg.json
!/README.md
